# ignore secrets, virtual environments and typical python compilation artifacts
secrets.toml
key.txt
gkey.json
data
.pytest_cache
# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal
